<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova.custom.plugins.openvideo"
           version="1.0.0">

  <name>OpenVedioPlugin</name>
  <description>open rtmp video</description>
  <license>Apache 2.0</license>
  <keywords>cordova,terminate</keywords>

  <js-module src="www/dialog.js" name="OpenVedioPlugin">
    <clobbers target="openVideo"/>
  </js-module>


  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
	  <feature name="openVideo">
        <param name="android-package" value="org.apache.cordova.openvideo.OpenVedioPlugin" />
	  </feature>
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<activity 
			android:name="org.apache.cordova.openvideo.activity.OpenVideoActivity"
			android:screenOrientation="landscape"
			android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity
			android:name="io.vov.vitamio.activity.InitActivity"
			android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
			android:launchMode="singleTop"
			android:theme="@android:style/Theme.NoTitleBar"
			android:windowSoftInputMode="stateAlwaysHidden" />
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	</config-file>
	
    <source-file src="src/android/OpenVedioPlugin.java" target-dir="src/org/apache/cordova/openvideo" />
	<source-file src="src/android/PixelUtils.java" target-dir="src/org/apache/cordova/openvideo" />
	<source-file src="src/android/OpenVideoActivity.java" target-dir="src/org/apache/cordova/openvideo/activity" />
	<source-file src="src/android/activity_open_video.xml" target-dir="res/layout" />
	
	
	<source-file src="src/android/vitamio/res/layout/mediacontroller.xml"  target-dir="res/layout"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/mediacontroller_pause.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/mediacontroller_play.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_control_disabled_holo.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_control_focused_holo.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_control_normal_holo.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_control_pressed_holo.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_primary_holo.9.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_secondary_holo.9.png"  target-dir="res/drawable-xhdpi"/>	
	<source-file src="src/android/vitamio/res/drawable-xhdpi/scrubber_track_holo_dark.9.png"  target-dir="res/drawable-xhdpi"/>	
	
	<source-file src="src/android/vitamio/res/drawable/mediacontroller_button.xml"  target-dir="res/drawable"/>	
	<source-file src="src/android/vitamio/res/drawable/scrubber_control_selector_holo.xml"  target-dir="res/drawable"/>	
	<source-file src="src/android/vitamio/res/drawable/scrubber_progress_horizontal_holo_dark.xml"  target-dir="res/drawable"/>	
	
	<source-file src="src/android/vitamio/libs/x86/libffmpeg.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libOMX.9.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libOMX.14.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libOMX.18.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libstlport_shared.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvao.0.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvplayer.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvscanner.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvvo.0.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvvo.9.so"  target-dir="libs/x86"/>
	<source-file src="src/android/vitamio/libs/x86/libvvo.j.so"  target-dir="libs/x86"/>
	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libffmpeg.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libOMX.9.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libOMX.11.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libOMX.14.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libOMX.18.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libstlport_shared.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvao.0.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvplayer.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvscanner.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvvo.0.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvvo.7.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvvo.8.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvvo.9.so"  target-dir="libs/armeabi-v7a"/>	
	<source-file src="src/android/vitamio/libs/armeabi-v7a/libvvo.j.so"  target-dir="libs/armeabi-v7a"/>	
	
	
	<source-file src="src/android/vitamio/libs/arm64-v8a/libffmpeg.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libOMX.24.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libstlport_shared.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvao.0.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvplayer.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvscanner.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvvo.0.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvvo.9.so"  target-dir="libs/arm64-v8a"/>
	<source-file src="src/android/vitamio/libs/arm64-v8a/libvvo.j.so"  target-dir="libs/arm64-v8a"/>
	
	<source-file src="src/android/vitamio/src/EGL.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaFile.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaFormat.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaMetadataRetriever.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaPlayer.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaScanner.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/MediaScannerClient.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/Metadata.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/ThumbnailUtils.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/VIntent.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/Vitamio.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/VitamioLicense.java"  target-dir="src/io/vov/vitamio"/>
	<source-file src="src/android/vitamio/src/activity/InitActivity.java"  target-dir="src/io/vov/vitamio/activity"/>
	<source-file src="src/android/vitamio/src/provider/MediaStore.java"  target-dir="src/io/vov/vitamio/provider"/>
	<source-file src="src/android/vitamio/src/provider/MiniThumbFile.java"  target-dir="src/io/vov/vitamio/provider"/>
	<source-file src="src/android/vitamio/src/utils/Base64.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/ContextUtils.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/CPU.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/Crypto.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/Device.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/FileUtils.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/IOUtils.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/Log.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/ScreenResolution.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/utils/StringUtils.java"  target-dir="src/io/vov/vitamio/utils"/>
	<source-file src="src/android/vitamio/src/widget/CenterLayout.java"  target-dir="src/io/vov/vitamio/widget"/>
	<source-file src="src/android/vitamio/src/widget/MediaController.java"  target-dir="src/io/vov/vitamio/widget"/>
	<source-file src="src/android/vitamio/src/widget/OutlineTextView.java"  target-dir="src/io/vov/vitamio/widget"/>
	<source-file src="src/android/vitamio/src/widget/VideoView.java"  target-dir="src/io/vov/vitamio/widget"/>
	
	<config-file target="res/values/colors.xml" parent="/resources">
		<color name="transparent">#00000000</color>
		<color name="mediacontroller_bg_pressed">#ff53c1bd</color>
		<color name="mediacontroller_bg">#99000000</color>
	</config-file>
	<config-file target="res/values/styles.xml" parent="/resources">
		<style name="MediaController_SeekBar" parent="android:Widget.SeekBar">
			<item name="android:progressDrawable">@drawable/scrubber_progress_horizontal_holo_dark</item>
			<item name="android:indeterminateDrawable">@drawable/scrubber_progress_horizontal_holo_dark</item>
			<item name="android:minHeight">13dip</item>
			<item name="android:maxHeight">13dip</item>
			<item name="android:thumb">@drawable/scrubber_control_selector_holo</item>
			<item name="android:thumbOffset">16dip</item>
			<item name="android:paddingLeft">16dip</item>
			<item name="android:paddingRight">16dip</item>
		</style>

		<style name="MediaController_Text">
			<item name="android:textColor">#ffffffff</item>
			<item name="android:textSize">14sp</item>
			<item name="android:textStyle">bold</item>
		</style>
	</config-file>
	<config-file target="res/values/strings.xml" parent="/resources">
		<string name="vitamio_library_app_name">VitamioLibrary</string>
		<string name="vitamio_init_decoders">Initializing decoders…</string>
		<string name="permission_group_tools_label">Vitamio tools</string>
		<string name="permission_group_tools_description">Access Vitamio package and resources.</string>
		<string name="permission_receive_messages_label">Receive Vitamio messages</string>
		<string name="permission_receive_messages_description">Receive all broadcasts from Vitamio service.</string>
		<string name="permission_write_providers_label">Write Vitamio providers</string>
		<string name="permission_write_providers_description">Delete, update or create new items in Vitamio providers.
		</string>
		<string name="VideoView_error_title">Cannot play video</string>
		<string name="VideoView_error_text_invalid_progressive_playback">Sorry, this video is not valid for streaming to
			this device.
		</string>
		<string name="VideoView_error_text_unknown">Sorry, this video cannot be played.</string>
		<string name="VideoView_error_button">OK</string>
		<string name="mediacontroller_play_pause">Play/Pause</string>
	</config-file>
	
	
  </platform>
</plugin>
